.social{
    position: sticky;
    top: 250px;
}
.social img{
    width: 50px;
    display:    block;
    transition: 0.4s ease-in-out;
    border-radius: 100px;   
}
.social img:hover{
    transform: translateX(14px);
}
a{
	text-decoration: none;
	margin-left: 100px;
	font-weight: bold;
	color: gray;
}
a:hover{
	text-decoration: underline;
	transition: 0.2s;
	color: black;
}
